<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TT:pref:show_action_hud</key>
	<true/>
	<key>TT:pref:show_mode_hud</key>
	<true/>
	<key>TT:pref:enable_hud</key>
	<true/>
	<key>TT:pref:share_usage_stats</key>
	<true/>
	<key>TT:firmware:version</key>
	<string>6</string>
	<key>TT:firmware:interval_min</key>
	<integer>111</integer>
	<key>TT:firmware:interval_max</key>
	<integer>148</integer>
	<key>TT:firmware:conn_latency</key>
	<integer>4</integer>
	<key>TT:firmware:conn_timeout</key>
	<integer>600</integer>
	<key>TT:firmware:mode_duration</key>
	<integer>600</integer>
	<key>TT:mode:north</key>
	<string>TTModeMac</string>
	<key>TT:mode:east</key>
	<string>TTModeMusic</string>
	<key>TT:mode:west</key>
	<string>TTModeHue</string>
	<key>TT:selectedModeDirection</key>
	<string>2</string>
	<key>TT:mode:south</key>
	<string>TTModeAlarmClock</string>
</dict>
</plist>
