<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TT:Presentation:playStartFirstSlide</key>
	<true/>
	<key>TT:Presentation:app</key>
	<string>keynote</string>
</dict>
</plist>
