<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TTModeHueSleep:hueDuration</key>
	<integer>30</integer>
	<key>TTModeHueSleep:hueDoubleTapDuration</key>
	<integer>5</integer>
	<key>TTModeHueSceneEarlyEvening:hueScene</key>
	<string>Sunset</string>
	<key>hueScene</key>
	<string></string>
	<key>hueDuration</key>
	<integer>0</integer>
	<key>TTModeHueRandom:randomColors</key>
	<integer>3</integer>
	<key>TTModeHueRandom:randomBrightness</key>
	<integer>3</integer>
	<key>TTModeHueRandom:randomSaturation</key>
	<integer>3</integer>
</dict>
</plist>
