<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TT:firmware:interval_min</key>
	<integer>111</integer>
	<key>TT:firmware:interval_max</key>
	<integer>148</integer>
	<key>TT:firmware:conn_latency</key>
	<integer>10</integer>
	<key>TT:firmware:conn_timeout</key>
	<integer>600</integer>
	<key>TT:mode:north</key>
	<string>TTModeAlarmClock</string>
	<key>TT:mode:east</key>
	<string>TTModeMac</string>
	<key>TT:mode:west</key>
	<string>TTModeNews</string>
	<key>TT:selectedModeDirection</key>
	<string>1</string>
	<key>TT:mode:south</key>
	<string>TTModeMusic</string>
</dict>
</plist>
